* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  font-family: sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.m4 {
  margin-bottom: 4rem;
}

.error {
  border: 2px solid red !important;
}

.error-message {
  text-align: center;
}

input {
  padding: 0.8rem;
  border: 1px solid;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

.container {
  border: 1px solid;
  padding: 4rem;
}

.form-row {
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.radios {
  display: flex;
  gap: 2rem;
}

.btn {
  padding: 0.8rem 1.6rem;
}

.output-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.output-table {
  border: 1px solid;
  width: 100%;
  border-collapse: collapse;
}

.output-table td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 0.4rem 0.8rem;
}
