@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --primary: #4b7bec;
  --primary-low-opacity: rgba(75, 123, 236, 0.3);
  --primary-light: #5d88ee;
  --primary-lighter: #dbe5fb;
  --bg: #edf2fd;
  --text: #070c18;

  --loss-bg: #fbd8de;
  --loss-border: #eb3b5a;
  --loss-text: #170609;

  --profit-bg: #d2f2e1;
  --profit-border: #20bf6b;
  --profit-text: #03130b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  padding: 2rem 0.4rem;
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg);
  color: var(--text);
}

.m4 {
  margin-bottom: 4rem;
}

.error {
  border: 2px solid red !important;
}

.error-message {
  text-align: center;
}

.hidden {
  display: none;
}

.header {
  text-align: center;
}

input {
  padding: 0.8rem;
  border: 1px solid var(--primary-light);
  border-radius: 3px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px var(--primary-low-opacity);
}

.container {
  border: 2px solid var(--primary-light);
  padding: 3rem;
  max-width: 45rem;
}

.form-row {
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.radios {
  display: flex;
  gap: 2rem;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  background-color: var(--primary);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 2.2rem;
}

.btn:hover {
  background-color: var(--primary-light);
}

.output-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profit {
  border: 1px solid var(--profit-border);
  background-color: var(--profit-bg);
  color: var(--profit-text);
}

.loss {
  border: 1px solid var(--loss-border);
  background-color: var(--loss-bg);
  color: var(--loss-text);
}

.output-table {
  width: 100%;
  border-radius: 5px;
  border-spacing: 0.8rem;
  padding: 1rem;
}

.output-table td {
  padding: 0.4rem 0.8rem;
}

.output-api-error {
  padding: 2rem;
  border-radius: 5px;
  background-color: var(--primary-lighter);
  border: 1px solid var(--primary-light);
  text-align: start;
}
