* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.error {
  border: 2px solid red !important;
}

.container {
  border: 1px solid;
  padding: 4rem;
}

.form-row {
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
